
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="AddUser">AddUser</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="UserManagement">User Management</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="RoleManagement">Role Management</a></li>

</ul>
